/chr_name_mismatch_data/
/chr_name_mismatch_logs/
/chr_name_mismatch_out/
/cigar_format_data/
/cigar_format_logs/
/cigar_format_out/
/missing_sequence_data/
/missing_sequence_logs/
/missing_sequence_out/
/secondary_alignment_data/
/secondary_alignment_logs/
/secondary_alignment_out/
