beautifulsoup4=4.12.*
blast=2.15.*
cmake=3.28.*
gcc=13.*
gxx=13.*
hmmer=3.4.*
minimap2=2.26.*
numpy=1.26.*
perl-storable=3.15.*
perl=5.32.*
python=3.10.*
samtools=1.18.*
snakemake=7.32.*
ucsc-bedgraphtobigwig=455
ucsc-fatotwobit=455
ucsc-twobitinfo=455
zlib=1.2.*
